.App {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  padding: 10px;
  background-color: blue;
  color: white;
  cursor: pointer;
}

.dropdown.open .dropdown-button {
  background-color: rgb(1, 4, 2);
}

.dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: rgb(79, 79, 201);
  list-style: none;
  text-align: center;
}

.dropdown-list li {
  padding: 10px;
  color: white;
  cursor: pointer;
}

.dropdown-list li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
